############################################
#     Personal files
############################################
.vscode
data/sonar.all-data.csv
img/tests

############################################
#     Binary files
############################################
**/__pycache__