############################################
#     Personal files
############################################
.vscode
data/*
img/tests
notes.txt

############################################
#     Binary files
############################################
**/__pycache__