############################################
#     Personal files
############################################
.vscode

############################################
#     Binary files
############################################
**/__pycache__